<section class="mt-24 md:mt-26">
  <div class="container">
    <p class="uppercase font-medium text-center tracking-wider text-purple-400">
      Hi im Sachin Parker
    </p>
    <h1 class="text-4xl text-center mt-4 font-bold md:text-5xl lg:text-6xl max-w-3xl mx-auto lg:mt-6">
      I design and code things for the internet
    </h1>
    <h3 class="text-center text-xl mt-6 text-zinc-400 md:text-2xl max-w-xl mx-auto lg:mt-8">
     Aspiring full-stack developer building real-world projects and constantly learning new technologies
    </h3>
    <div class="flex justify-center">
      <button class="bg-amber-400 text-zinc-700 px-4 py-2 mt-4 rounded-lg text-sm uppercase font-medium lg:mt-8">
      Contact
      </button>
    </div>
    <div class="flex justify-center flex-col items-center mt-6 md:mt-8 gap-4">
       <div class="w-5 h-10 outline-4 outline-fuchsia-500/10 inline-flex justify-center pt-2 rounded-full">
      <div class="h-3 w-1 bg-fuchsia-500 rounded-full"></div>
    </div>
    <p class="uppercase text-zinc-500 font-medium tracking-wider">
      Scroll to see more
    </p>
    </div>
    
  </div>
</section>